In [7]:
import numpy as np
import pandas as pd

In [46]:
def simulWeib(X, T):
    N = X.shape[0] # Number of samples
    D = X.shape[1] # Number of features
    
    # Weibull latent event times
    scale1 = 20 + 5*(np.sum(X, axis=1))
    ltime1 = np.random.weibull(scale1, size=N)
    
    scale0 = np.exp(3 + 0.1*(np.sum(X, axis=1)))
    ltime0 = np.random.weibull(scale0, size=N)
    
    # Censoring times
    rate = 0.007
    c1 = np.random.exponential(scale=1/rate, size=N)
    c0 = np.random.exponential(scale=1/rate, size=N)
    
    # Follow-up times and event indicators
    time1 = np.minimum(ltime1, c1) + np.random.uniform(size=N)
    time0 = np.minimum(ltime0, c0) + np.random.uniform(size=N)
    
    status1 = (ltime1 <= c1).astype(int)
    status0 = (ltime0 <= c0).astype(int)
    
    # Survival time
    time = np.zeros(N)
    time[T == 1] = time1[T == 1]
    time[T == 0] = time0[T == 0]
    
    # Status
    status = np.zeros(N)
    status[T == 1] = status1[T == 1]
    status[T == 0] = status0[T == 0]
    
    # Create dataframes
    X_df = pd.DataFrame(X, columns=['X{}'.format(i) for i in range(D)])
    T_df = pd.DataFrame(T, columns=['Treatment'])
    status_df = pd.DataFrame(status, columns=['Status'])
    time_df = pd.DataFrame(time, columns=['Survival Time'])
    
    data = pd.concat([X_df, T_df, status_df, time_df], axis=1)
    return data

In [47]:
N = 20
X = np.random.choice([0,1], size=[N, 5])
T = np.random.choice([0,1], size=N)
data = simulWeib(X, T)
data

    X0  X1  X2  X3  X4  Treatment  Status  Survival Time
0    1   0   1   0   1          1     1.0       1.275974
1    1   0   1   1   1          0     1.0       1.757120
2    0   0   0   1   1          0     1.0       1.376174
3    1   0   0   0   0          0     1.0       1.108139
4    1   1   0   1   0          0     1.0       1.765706
5    1   0   0   0   1          0     1.0       1.267555
6    0   0   0   0   1          1     1.0       1.042075
7    1   1   0   0   0          1     1.0       1.615724
8    0   1   1   0   0          1     1.0       1.569999
9    1   1   1   1   1          0     1.0       1.063361
10   0   1   1   0   1          0     1.0       1.417649
11   0   1   0   1   0          1     1.0       1.502963
12   0   1   1   1   0          0     1.0       1.284219
13   1   0   1   0   0          0     1.0       1.751045
14   0   1   0   0   1          1     1.0       1.472579
15   1   0   0   1   1          0     1.0       1.702154
16   1   1   0   0   0          0     1.0       1.952945
17   0   0   1   1   0          0     1.0       1.309364
18   0   0   1   1   0          1     1.0       1.696571
19   0   1   0   1   1          1     1.0       0.994922

In [44]:
 def draw_sample(self):
        unos_df = pd.read_csv(self.csv_path)

        # Features
        X = np.array(unos_df.drop('LVAD', axis=1))

        # Number of samples
        N = X.shape[0]

        # Number of Features
        D = X.shape[1]

        # Treatment
        W = np.array(unos_df['LVAD'])

        BetaB    = np.random.choice([0, 0.1, 0.2, 0.3, 0.4], size=D, replace=True, p=[0.6, 0.1, 0.1, 0.1,0.1])
        Y_0      = np.random.normal(size=N) + np.exp(np.dot(X+0.5,BetaB))
        Y_1      = np.random.normal(size=N) + np.dot(X,BetaB)
        AVG      = np.mean(Y_1[W==1]-Y_0[W==1])
        Y_1      = Y_1-AVG+4  
        TE       = np.dot(X,BetaB)-AVG+4-np.exp(np.dot(X+0.5,BetaB))
        Y        = np.transpose(np.array([W,(1-W)*Y_0+W*Y_1,TE]))
        DatasetX = pd.DataFrame(X, columns=list(filter(lambda x: x!= 'LVAD', unos_df.columns)))
        DatasetY = pd.DataFrame(Y, columns='Treatment Response TE'.split())
        Dataset  = DatasetX.join(DatasetY)                        
        return Dataset

SyntaxError: invalid syntax (<ipython-input-44-c21301d07b37>, line 4)